.elements__card {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.elements__trailer-link {
    margin: 0;
    padding: 0;
}

.elements__card-image {
    width: 100%;
    height: 151px;
    display: block;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 0;
}

.elements__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    /*width: 270px;*/
    height: 67px;
    border-radius: 0 0 10px 10px;
    background: #222;
    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.05));
}

.elements__wrapper-prop {
    margin: 14px 0 0 13px;
}

.elements__card-title {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
}

.elements__card-time {
    margin: 10px 0 0 0;
    padding: 0;
    color: #8B8B8B;
    font-size: 11px;
    font-weight: 400;
}

.elements__card-savebtn {
    margin: 14px 13px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #313131;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.5s;
}

.elements__card-savebtn_active {
    background-color: #2BE080;
}

.elements__card-delbtn {
    padding: 0;
    border: none;
    background: transparent;
    margin: 14px 13px 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.elements__card:nth-child(n + 17) {
    display: none;
}

.elements__card.elements__card_active {
    display: list-item;
}

@media screen and (max-width: 1279px) {
    .elements__card:nth-child(n + 16) {
        display: none;
    }

    .elements__card.elements__card_active {
        display: list-item;
    }
}

@media screen and (max-width: 768px){
    .elements__card:nth-child(n + 9) {
        display: none;
    }

    .elements__card.elements__card_active {
        display: list-item;
    }

    .elements__card-image {
        height: 190px;
    }
}

@media screen and (max-width: 480px){
    .elements__card:nth-child(n + 6) {
        display: none;
    }

    .elements__card.elements__card_active {
        display: list-item;
    }

    .elements__card-image {
        height: 168px;
    }
}
