.elements__btn_wrap {
    padding: 50px 0 80px 0;
    margin: 0 auto;
    display: none;
}

.elements__btn_wrap_active {
    display: block;
}

.elements__btn_more {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 320px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #424242;
    background: transparent;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.elements__btn_more:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px){
    .elements__btn_wrap {
        padding-bottom: 85px;
    }
}

@media screen and (max-width: 340px){
    .elements__btn_wrap {
        padding-bottom: 83px;
    }

    .elements__btn_more {
        width: 240px;
    }
}