.portfolio {
    min-height: 1079px;
    background-color: #202020;
}

.portfolio__container {
    max-width: 1140px;
    margin: 0 auto;
}

.portfolio__title {
    margin: 0;
    padding-top: 110px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
}

.portfolio__divider {
    margin-top: 23px;
    max-width: 1140px;
    height: 1px;
    background: #DADADA;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info__block {
    margin: 66px 0 0 0;
}

.info__heading {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

.info__profession {
    margin: 18px 0 0 0;
    padding: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.info__descr {
    margin: 26px 0 0 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.info__link {
    display: block;
    margin: 99px 0 0 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.info__link:hover {
    text-decoration: underline;
}

.info__foto {
    margin: 66px 0 0 270px;
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: contain;
}

.case {
    margin: 100px 0 0 0;
}

.case__heading {
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.case__list {
    margin: 50px 0 0 0;
    padding: 0;
}

.case__portfolio {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.case__portfolio:first-child {
    margin: 0;
}

.case__link {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    text-decoration: none;
}

.case__arrow {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2px;
}

.case__divider {
    height: 1px;
    background-color: #424242;
    margin-top: 9px;
}

@media screen and (max-width: 768px){
    .portfolio {
        min-height: 994px;
    }

    .portfolio__container {
        /*width: 668px*/
        margin: 0 50px;
    }

    .portfolio__title {
        padding-top: 88px;
    }

    .info__heading {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }

    .info__profession {
        margin-top: 16px;
        padding: 0;
        color: #FFF;
        font-size: 12px;
        line-height: 18px;
    }

    .info__descr {
        margin-top: 20px;
        font-size: 12px;
        line-height: 18px;
    }

    .info__link {
        margin-top: 87px;
    }

    .info__foto {
        margin-left: 49px;
        width: 255px;
        height: 307px;
    }

    .case {
        margin-top: 90px;
    }

    .case__portfolio {
        margin-top: 20px;
    }

    .case__link {
        font-size: 28px;
        letter-spacing: -1.12px;
    }

    .case__arrow {
        font-size: 28px;
        letter-spacing: -1.12px;
    }

    .case__divider {
        margin-top: 9px;
    }
}


@media screen and (max-width: 505px){
    .portfolio {
        min-height: 1198px;
    }

    .portfolio__container {
        width: 290px;
        margin: 0 auto;
    }

    .portfolio__title {
        padding-top: 66px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .portfolio__divider {
        margin-top: 29px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info__block {
        order: 2;
        margin-top: 38px;
    }

    .info__heading {
        font-size: 30px;
        letter-spacing: -1.2px;
    }

    .info__profession {
        margin-top: 17px;
        font-size: 11px;
        line-height: 16px;
    }

    .info__descr {
        margin-top: 20px;
        font-size: 11px;
        line-height: 16px;
    }

    .info__link {
        margin-top: 42px;
    }

    .case__arrow {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .info__foto {
        order: 1;
        margin: 60px 0 0 0;
        width: 292px;
        height: 352px;
    }

    .case {
        margin-top: 70px;
    }

    .case__heading {
        font-size: 14px;
    }

    .case__list {
        margin-top: 40px;
    }

    .case__portfolio {
        margin-top: 20px;
    }

    .case__link {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .case__divider {
        margin-top: 19px;
    }
}