.promo {
    min-height: 574px;
    background-color: #073042;
    max-width: 100%;
    margin: 0;
}

.promo__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 75px 70px 0;
}

.promo__content {
    display: flex;
}

.promo__title {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
}

.promo__descr {
    margin: 36px 0 0;
    padding: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
}

.promo__img {
    margin: 0;
    width: 310px;
    height: 304px;
}

.promo__btn-wrap {
    padding: 84px 0 78px 0;
    scroll-behavior: smooth;
}

.promo__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 36px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #FFF;
    padding: 0;
    margin: 0;
    transition: .5s;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.promo__btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 858px) {
    .promo__content {
        flex-direction: column;
        align-items: center;
    }

    .promo__text {
        margin-top: 48px;
        text-align: center;
        order: 2;
    }

    .promo__title {
        font-size: 40px;
        line-height: 50px;
    }

    .promo__descr {
        margin-top: 22px;
    }

    .promo__img {
        order: 1;
    }

    .promo__btn {
        margin: 0 auto;
    }

    .promo__btn-wrap {
        padding: 92px 0 78px 0;
    }
}


@media screen and (max-width: 768px) {
    .promo__container {
        padding: 135px 44px 0;
    }
}

@media screen and (max-width: 320px) {
    .promo__container {
        max-width: 284px;
        padding: 70px 14px 0;
    }

    .promo__text {
        margin-top: 44px;
    }

    .promo__title {
        font-size: 27px;
        line-height: 38px;
    }

    .promo__descr {
        margin-top: 24px;
        font-size: 12px;
    }

    .promo__img {
        width: 210.001px;
        height: 206px;
    }

    .promo__btn-wrap {
        padding: 80px 0 30px 0;
    }
}