.profile-btn {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    background: #073042;
    border: none;
    border-radius: 20px;

    transition-property: border;
    transition-duration: 0.5s;
    box-sizing: border-box;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    text-decoration: none;
}

.profile-btn:hover {
    border: 2px solid #F5F5F5;
}

.profile-btn__circle {
    display: flex;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #0F4157;
    margin-left: 7px;
}

.profile-btn__icon {
    color: #FFF;
    margin: auto;
    width: 10.383px;
    height: 10.669px;
}

.profile-btn_grey {
    background: #202020;
}

.profile-btn__circle_grey {
    background-color: #313131;
}

@media screen and (max-width: 768px) {
    .profile-btn {
        display: none;
    }
}