.about-project {
    min-height: 608px;
    background-color: #202020;
}

.about-project__container {
    max-width: 1140px;
    margin: 0 auto;
}

.about-project__title {
    margin: 0;
    padding-top: 115px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
}

.about-project__divider {
    margin-top: 23px;
    max-width: 1140px;
    height: 1px;
    background: #DADADA;
}

.table-project {
    margin: 70px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.table-project__cell {
    max-width: 550px;
}

.table-project__heading {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.8px;
}

.table-project__text {
    margin: 26px 0 0 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.table-timeline {
    margin: 110px 0 0 0;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.table-timeline__unit {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.unit_first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 228px;
    height: 36px;
    background: #3DDC84;
    color: #000;
}

.unit_last {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 912px;
    height: 36px;
    background: #303030;
    color: #FFF;
}

.table-timeline__sprint {
    margin: 14px 0 0 0;
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

@media screen and (max-width: 1154px) {
    .unit_last {
        width: 528px;
    }
}

@media screen and (max-width: 768px) {
    .about-project {
        min-height: 585px;
    }

    .about-project__container {
        /*width: 668px;*/
        margin: 0 50px;
    }

    .about-project__title {
        padding-top: 92px;
    }

    .about-project__divider {
        margin-top: 23px;
    }

    .table-project__cell {
        max-width: 319px;
    }

    .table-project__text {
        margin-top: 22px;
    }

    .table-timeline {
        margin-top: 89px;
    }

    .unit_first {
        width: 140px;
    }

    .unit_last {
        width: 528px;
    }
}

@media screen and (max-width: 671px) {
    /*.about-project__container {*/
    /*    !*width: 284px;*!*/
    /*}*/

    .about-project {
        min-height: 641px;
    }

    .about-project__title {
        padding-top: 72px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .table-project {
        /*margin: 62px;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .table-project__cell {
        padding-top: 59px;
        max-width: 319px;
    }

    .table-project__cell:first-child {
        padding-top: 0;
    }

    .table-project__heading {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .table-project__text {
        margin-top: 16px;
        font-size: 11px;
        line-height: 16px;
    }

    .table-timeline {
        margin-top: 60px;
    }

    .unit_first {
        width: 100px;
        font-size: 11px;
    }

    .unit_last {
        width: 184px;
        font-size: 11px;
    }

    .table-timeline__sprint {
        margin-top: 10px;
        font-size: 11px;
    }
}

@media screen and (max-width: 320px) {
    .about-project__container {
        width: 284px;
        margin: 0 auto;
    }
}

