.footer {
    background-color: #202020;
}

.footer__container {
    max-width: 1140px;
    margin: 0 auto;
}

.footer__heading {
    margin: 0;
    padding-top: 78px;
    color: #8B8B8B;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

.footer__devider {
    margin: 20px 0 0 0;
    padding: 0;
    height: 1px;
    background-color: #424242;
}

.footer__block {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
}

.footer__copy {
    margin: 0;
    padding: 0;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    padding-right: 20px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    transition: .5s;
}

.footer__link:last-child {
    padding-right: 0;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .footer__container {
        /*width: 708px;*/
        margin: 0 30px;
    }

    .footer__heading {
        padding-top: 75px;
    }

    .footer__link:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 320px) {
    .footer__heading {
        padding-top: 79px;
        font-size: 12px;
    }

    .footer__container {
        width: 300px;
        margin: 0 auto;
    }

    .footer__devider {
        margin: 21px 0 0 0;
    }

    .footer__block {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    .footer__copy {
        margin-top: 30px;
        text-align: center;
        color: #8B8B8B;
        order: 2;
    }

    .footer__links {
        order: 1;
        flex-direction: column;
        align-items: center;
    }

    .footer__link {
        padding-right: 0;
        margin-top: 12px;
        font-size: 12px;
    }

    .footer__link:first-child {
        margin-top: 0;
    }
}