.auth {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__container {
    width: 396px;
    margin: 70px 0;
}

.auth__logo-img {
    display: block;
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
}

.auth__form {
    position: relative;
    margin: 40px 0 0 0;
    padding: 0;
    height: 490px;
}

.auth__form-wrap {
    margin-top: 14px;
}

.auth__form-wrap:nth-child(2) {
    margin-top: 35px;
}

.auth__form-title {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.auth__label {
    margin: 0;
    padding: 0;
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.auth__input {
    margin: 10px 0 0 0;
    padding: 15px;
    width: 396px;
    height: 46px;
    border-radius: 8px;
    background: #2F2F2F;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    border: none;
    box-sizing: border-box;
}

.auth__input:focus {
    outline-color: #4285F4;
    outline-style: solid;
    outline-width: 3px;
}

.auth__btn-wrap {
    position: absolute;
    bottom: 7px;
    right: 0;
    margin: 0;
    padding: 0;
}

.auth__btn {
    width: 396px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background: #4285F4;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}

.auth__btn:hover {
    opacity: 0.7;
}

.auth__question {
    margin: 16px auto 0;
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.auth__question-link {
    margin: 0;
    padding-left: 6px;
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}

.auth__question-link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 400px){
    .auth__container {
       width: 260px;
        margin: 56px 0 30px 0;
    }

    .auth__logo-img {
        margin: 0 auto;
    }

    .auth__form {
        margin-top: 50px;
        height: 614px;
    }

    .auth__form-wrap:nth-child(2) {
        margin-top: 73px;
    }

    .auth__form-title {
        text-align: center;
    }

    .auth__input {
        width: 260px;
    }

    .auth__btn {
        width: 260px;
        font-size: 12px;
    }

    .auth__question {
        margin-top: 14px;
        font-size: 12px;
    }

    .auth__question-link {
        font-size: 12px;
    }
}